.pagination{
    margin: 50px auto;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.pagination li{
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background-color: #cecece;
}
